.builder-component-button {
    @media screen and (max-width: 767px) {
        text-align: center !important;
    }

    a {
        transition: .35s all;
        text-decoration: none;
        font-family: $font_two;
        padding: 8px 25px;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        font-size: 110%;
        border-radius: 5px;
        position: relative;
        transform: scale(1);

        &:after {
            @include fa();
            content: "\f054";
            margin-left: 10px;
        }

        &:hover {
            transform: scale(1.1);
        }

        &.purple {
            background: $dark_purple;
        }

        &.red {
            background: $red;
        }

        &.green {
            background: $green;
        }

        &.lt-blue {
            background: $lt-blue;
        }

        &.blue {
            background: $bright-blue;
        }
    }
}

.builder-component-button-special a {
    text-decoration: none;
    display: inline-block;
    font-family: $font_two;
    text-transform: uppercase;
    transition: all 0.4s;
    position: relative;
    background-color: transparent;
    outline: none;
    color: #000;
    font-size: 18px;
    padding: 5px 15px;
    min-width: 250px;
    cursor: pointer;

    span {
        position: relative;
        z-index: 10;
    }

    &:after {
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $bright-blue;
        content: '';
        position: absolute;
        z-index: 1;
        transition: all 0.4s;
    }

    &:hover {
        color: #fff;

        &:after {
            width: 100%;
        }
    }

    &.purple {
        border: 3px solid $lt-blue;

        &:after {
            background-color: $dark_purple;
        }
    }

    &.green {
        border: 3px solid #42683c;

        &:after {
            background-color: #73a753;
        }
    }

    &.lt-green {
        border: 3px solid #c1d500;

        &:after {
            background-color: #1f659c;
        }
    }

    &.blue {
        border: 3px solid $bright-blue;

        &:after {
            background-color: $navy;
        }
    }

    &.red {
        border: 3px solid #ef4137;

        &:after {
            background-color: #31678c;
        }
    }

    &.lt-blue {
        border: 3px solid $navy;

        &:after {
            background-color: $bright-blue;
        }
    }
}