&-icons-row {
    .icons-flexed-row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        .single-icon {
            padding: 15px;
            text-align: center;
            flex: auto;

            @media screen and (max-width: 500px) {
                flex: 100%;
            }
        }
    }

    .slider-wrapper {
        //position: relative;
        padding: 0 50px;

        .icons-slider {
            .single-icon {
                border: 1px solid #cdcdcd;
                margin: 0 15px;

                .img-container {
                    //min-height: 90px;
                    //width: 120px;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }

        .custom-nav {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            .owl-prev {
                position: absolute;
                top: 30%;
                left: 15px;
                background: $lt-blue;
                padding: 10px 15px;
                border: none;
                outline: none;

                i {
                    color: #fff;
                    font-size: 16px;
                }
            }

            .owl-next {
                position: absolute;
                top: 30%;
                right: 15px;
                background: $lt-blue;
                padding: 10px 15px;
                border: none;
                outline: none;

                i {
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }
}