// Section Styles
.builder-section {
    background-size: cover;
    background-repeat: no-repeat;
    @import "builder/spacing/padding";

    &.inactive {
        display: none;
    }

    &.repeated {
        background-repeat: repeat;
        background-size: initial !important;
    }

    &.builder-col-align {
        &-top .builder-layout .row {

        }

        &-middle .builder-layout .row  {

        }

        &-bottom .builder-layout .row {
            align-items: flex-end;
        }
    }

    .builder-layout {
        &.layout-not-found .message h2 {
            color: #000;
        }

        .builder-col {
            .builder-component {
                padding-bottom: 1em;
            }

            &:last-of-type {
                .builder-component:last-of-type {
                    padding-bottom: 0;
                }
            }
        }

        //------- Components -------
        @import "builder/components/title";
        @import "builder/components/wysiwyg";
        @import "builder/components/html";
        @import "builder/components/button";
        @import "builder/components/image";
        @import "builder/components/horizontal-buttons";
        @import "builder/components/accordion";
        @import "builder/components/gallery-slider";

        //------- Layouts -------
        @import "builder/layouts/banner-card";
        @import "builder/layouts/hover-gallery";
        @import "builder/layouts/packery-gallery";
        @import "builder/layouts/parallax";
        @import "builder/layouts/icons-row";
        @import "builder/layouts/slider";
        @import "builder/layouts/accordion";
    }

    @import "builder/theme/themes";
}